{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap-select/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror5/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror5/theme/seti.css' %}">
{% endblock %}


{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo; <a
                href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
            &rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{
                opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo;
            {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else
                %}{{ original|truncatewords:"18" }}{% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">

        {% block submit_buttons_bottom %}
            
        {% endblock %}
        <div>
            <h3> {{ homework.exercises.title|safe }} </h3>
            <p> {{ homework.exercises.content|safe }} </p>
            {% if homework.content %}
                <textarea id="homework_content">{{ homework.content|safe }}</textarea>
            {% endif %}
            {% if homework.code %}
                <div>
                    <div class="col-md-6">
                        <row>
                        <textarea class="form-control" rows="10" id="homework_code">
                        </textarea>
                        </row>
                        <button class="btn btn-primary btn-small" onclick="runit()" style="margin-bottom:10px;">运行
                        </button>

                    </div>
                    <div class="col-md-6" style="margin-bottom:10px;">
                        <pre id="code_result" style="height: 300px;"></pre>
                    </div>
                </div>
                </div>
            {% endif %}
        <div style="margin-top:20px;">
            <hr style="margin-top:20px;">
            <div class="col-md-12">
                <h4> 作业评语 </h4>
                <textarea class="col-md-12" id="homework_comment"
                          name="homework_comment">{{ homework.comment|safe }}</textarea>
                <button class="btn btn-small btn-primary" style="margin-bottom:10px;"
                        onclick="save_comment('{{ user.id }}', '{{ homework.id }}')">
                    保存
                </button>
            </div>
        </div>

    </div>


    <script type="text/javascript" src="{% static '/admin/simpleui-x/automatic/dicts.js' %}"></script>
    <script type="text/javascript" src="{% static '/admin/simpleui-x/automatic/segment.js' %}"></script>
    <script type="text/javascript" src="{% static '/admin/simpleui-x/js/axios.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/moment.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/layer/2.4/layer.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/lib/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/addon/fold/foldcode.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/mode/python/python.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/addon/edit/closetag.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/addon/edit/closebrackets.js' %}"></script>
    <script src="{% static 'js/skulpt/dist/skulpt.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/skulpt/dist/skulpt-stdlib.js' %}" type="text/javascript"></script>
    <script src="https://cdn.ckeditor.com/4.20.1/basic/ckeditor.js"></script>


    <script type="text/javascript">
        CKEDITOR.replace('homework_comment');

        var homework_code = document.getElementById("homework_code");
        // var code_result_obj = $("#code_result");
        var code_result_obj = document.getElementById("code_result");

        var default_code = `{{homework.code |safe}}`;

        $(function () {
            $("#changelist-filter").empty();
        });


        var editor = CodeMirror.fromTextArea(homework_code, {
            mode: "python",
            lineNumbers: true,
            smartIndent: true,
            tabSize: 4,
            theme: 'seti',
        });
        console.log(default_code);
        editor.setValue(default_code);

        function outf(text) {
            code_result_obj.innerHTML = code_result_obj.innerHTML + text;  //文字输出
        }

        function builtinRead(x) {
            if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
                throw "File not found: '" + x + "'";
            return Sk.builtinFiles["files"][x];
        }

        function runit() {
            console.log("runit is going")
            //var prog = document.getElementById("yourcode").value; //读取用户输入的内容
            var prog = editor.getValue(); //读取用户输入的内容
            //var mypre = document.getElementById("output");   //获取输出框
            code_result_obj.innerHTML = '';
            Sk.pre = "output";
            Sk.configure({output: outf, read: builtinRead, __future__: Sk.python3});

            (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';
            var myPromise = Sk.misceval.asyncToPromise(function () {
                return Sk.importMainWithBody("<stdin>", false, prog, true);
            });

            myPromise.then(function (mod) {
                    console.log('success');    //执行成功，显示success
                },
                function (err) {
                    console.log(err.toString());   //执行失败，在控制台显示 err
                });
        }

        function exec_code() {
            let code = editor.getValue();
            $.post('{% url "compile_code" %}', {'code': code}, function (res) {
                console.log(res);
                let icon = res.code > 0 ? 2 : 1;
                layer.msg(res.msg, {time: 1000, icon: icon});
                code_result_obj.text(res.result);
            })
        }

        // 保存评语
        function save_comment(uid, hid) {
            let comment = CKEDITOR.instances['homework_comment'].getData();
            console.log(comment);

            if (comment.length == 0) {
                layer.alert("评语多少写点");
                return false
            }
            console.log(uid);
            console.log(hid);
            let data = {
                "comment": comment,
                "uid": uid,
                "hid": hid
            };
            console.log(data);
            $.post('{% url "homework_comment" %}', data, function (res) {
                console.log(res);
                let icon = res.code > 0 ? 2 : 1;
                layer.msg(res.msg, {time: 1000, icon: icon});
            })
        }

    </script>

{% endblock %}
