{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap-select/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror5/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror5/theme/seti.css' %}">
{% endblock %}


{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo; <a
                href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
            &rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{
                opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo;
            {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else
                %}{{ original|truncatewords:"18" }}{% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">

        {% block submit_buttons_bottom %}
            {% submit_row %}
        {% endblock %}

        <p>{{ lesson.lesson_type.name }}</p>
        <H1>{{ lesson.title }}</H1>
        <div>
            {% if lesson.content %}
                {{ lesson.content|safe }}
            {% endif %}

            {% if lesson.url %}
                <iframe src="{{ lesson.url }}" width="80%" height="800px;" frameborder="0"></iframe>
            {% endif %}

            {% if lesson.pdf %}
                <embed src="{{lesson.pdf.url}}" type="application/pdf" width="100%" height="800px;">
            {% endif %}
        </div>
        {% if homework_subjects %}
            <hr style="margin-top:20px;">
            <h3> 课后作业 </h3>
            {% for homework_subject in homework_subjects %}
                <hr style="margin-top:20px;">
                <div>
                    <p> {{ homework_subject.content|safe }} </p>
                    <div>
                        <div class="col-md-6">
                            <row>
                            <textarea class="form-control" rows="10" id="homework_code">
                            </textarea>
                            </row>
                            {% if homework_subject.has_code == 1 %}
                                <button class="btn btn-primary btn-small" onclick="exec_code()"
                                        style="margin-bottom:10px;">
                                    运行
                                </button>
                                <button class="btn btn-small btn-primary" style="margin-bottom:10px;"
                                        onclick="save_code('{{ user.id }}', '{{ homework_subject.id }}')">
                                    保存
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <pre id="code_result" style="height: 300px;"></pre>
                        </div>
                    </div>
                </div>
                <div>
                    {% if comment %}
                        <hr style="margin-top:20px;">
                        <div class="col-md-12">
                            <h4> 作业评语 </h4>
                            <p>{{ comment|safe }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

    </div>


    <script type="text/javascript" src="{% static '/admin/simpleui-x/automatic/dicts.js' %}"></script>
    <script type="text/javascript" src="{% static '/admin/simpleui-x/automatic/segment.js' %}"></script>
    <script type="text/javascript" src="{% static '/admin/simpleui-x/js/axios.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/moment.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/layer/2.4/layer.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/lib/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/addon/fold/foldcode.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/mode/python/python.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/addon/edit/closetag.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/addon/edit/closebrackets.js' %}"></script>


    <script type="text/javascript">
        var homework_code = document.getElementById("homework_code");
        var code_result_obj = $("#code_result");
        {% if homework_subject.default_code %}
            var default_code = `{{homework_subject.default_code}}`;
        {% else %}
            var default_code = ``;
        {% endif %}

        $(function () {
            $("#changelist-filter").empty();
        });


        var editor = CodeMirror.fromTextArea(homework_code, {
            mode: "python",
            lineNumbers: true,
            smartIndent: true,
            tabSize: 4,
            theme: 'seti',
        });

        console.log(default_code);
        editor.setValue(default_code);

        function save_code(uid, sid) {
            let code = editor.getValue();
            console.log(code);

            if (code.length == 0) {
                layer.alert("为空");
                return false
            }
            console.log(uid);
            console.log(sid);
            let data = {
                "code": code,
                "uid": uid,
                "sid": sid
            };
            console.log(data);
            $.post('{% url "homework_code" %}', data, function (res) {
                console.log(res);
                let icon = res.code > 0 ? 2 : 1;
                layer.msg(res.msg, {time: 1000, icon: icon});
            })
        }

        function exec_code() {
            let code = editor.getValue();
            $.post('{% url "compile_code" %}', {'code': code}, function (res) {
                console.log(res);
                let icon = res.code > 0 ? 2 : 1;
                layer.msg(res.msg, {time: 1000, icon: icon});
                code_result_obj.text(res.result);
            })
        }


    </script>

{% endblock %}
