{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap-select/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror5/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror5/theme/seti.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror5/theme/idea.css' %}">
    <link rel="stylesheet" href="{% static 'js/codemirror5/theme/blackboard.css' %}">

{% endblock %}


{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo; <a
                href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
            &rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{
                opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo;
            {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else
                %}{{ original|truncatewords:"18" }}{% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">

        {% if user.is_superuser %}
            {% block submit_buttons_bottom %}
                {% submit_row %}
            {% endblock %}
        {% else %}
            <div class="submit-row">
                <button type="submit" class="el-button el-button--primary el-button--small" name="_continue"
                        onclick="close_page()">
                    关闭
                </button>
            </div>
        {% endif %}

        <input type="text" id="user_id" value="{{ user.id }}" hidden>
        <input type="text" id="lesson_id" value="{{ lesson.id }}" hidden>
        <div style="margin-left: 20px;">
            <H1>{{ lesson.course.title }}</H1>
            <div>
                {% if lesson.course.content %}
                    {{ lesson.course.content|safe }}
                {% endif %}

                {% if lesson.course.url %}
                    <iframe src="{{ lesson.course.url }}" width="80%" height="100%"></iframe>
                {% endif %}

                {% if lesson.course.pdf %}
                    <embed src="{{ lesson.course.pdf.url }}" type="application/pdf" width="100%" height="800px;">
                {% endif %}
            </div>
            {% if lesson.exercises %}
                <hr style="margin-top:20px;">
                <h4> 课后作业 </h4>
                {% for ex in lesson.exercises.all %}
                    <div>
                        <p> {{ ex.content|safe }} </p>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-sm" onclick="show_answer('{{ ex.id }}')"
                                data-target="#homework_detail">详情
                        </button>
                    </div>

                {% endfor %}
            {% endif %}
            <div id="lesson_comment_body">
                <hr>
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-1">评论</div>
                    <div class="col-md-10 col-md-offset-1">
                        <button class="btn btn-sm btn-primary" onclick="start_lesson_comment()">去评论</button>
                    </div>
                </div>
                <div>
                    <ul class="list-group col-md-11" id="lesson_comment_list">
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="homework_detail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document" style="width: 100%;">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="text" id="exercises_id" hidden>
                    <input type="text" id="need_code" hidden>
                    <input type="text" id="need_answer" hidden>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exercises_title"></h4>
                </div>
                <div class="modal-body">

                    <p class="col-md-12 lead" id="exercises_content">

                    </p>
                    <div style="margin-bottom: 10px;" id="python_modal">
                        <div class="col-md-6">
                            <textarea class="form-control" rows="10" id="homework_code">
                            </textarea>
                        </div>
                        <div class="col-md-6">
                            <pre id="code_result" style="height: 300px;"></pre>
                        </div>
                    </div>

                    <div style="margin-bottom: 10px;" id="scratch_modal">
                        <div class="col-md-6">
                            <textarea class="form-control" rows="10" id="homework_code">
                            </textarea>
                        </div>
                        <div class="col-md-6">
                            <pre id="code_result" style="height: 300px;"></pre>
                        </div>
                    </div>

                    <div class="col-md-12">
                            <textarea class="form-control ck-editor" rows="10" id="normal_homework_result">
                            </textarea>
                    </div>

                    <div class="col-md-12" id="has_comment">
                        <h5>评语</h5>
                        <div class="col-md-12" style="margin-bottom:20px;" id="homework_comment">
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary " onclick="runit()" id="run_btn"> 运行</button>
                    <button type="button" class="btn btn-primary" onclick="save_code()"> 保存</button>
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="lesson_comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop="static">
        <div class="modal-dialog" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exercises_title"></h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                            <textarea class="form-control ck-editor" rows="10" id="lesson_comment_text">
                            </textarea>
                    </div>

                    <button type="button" class="btn btn-primary" onclick="save_lesson_comment()"> 保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript" src="{% static '/admin/simpleui-x/automatic/dicts.js' %}"></script>
    <script type="text/javascript" src="{% static '/admin/simpleui-x/automatic/segment.js' %}"></script>
    <script type="text/javascript" src="{% static '/admin/simpleui-x/js/axios.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/moment.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/layer/2.4/layer.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/lib/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/addon/display/fullscreen.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/addon/fold/foldcode.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/mode/python/python.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/addon/edit/closetag.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/codemirror5/addon/edit/closebrackets.js' %}"></script>
    <script src="{% static 'js/skulpt/dist/skulpt.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/skulpt/dist/skulpt-stdlib.js' %}" type="text/javascript"></script>
    <script src="https://cdn.ckeditor.com/4.20.1/basic/ckeditor.js"></script>


    <script type="text/javascript">
        CKEDITOR.replace('lesson_comment_text');
        CKEDITOR.instances['lesson_comment_text'].setData('');

        var uid_obj = $("#user_id");
        var lid_obj = $("#lesson_id");
        var eid_obj = $("#exercises_id");
        var homework_code_obj = document.getElementById("homework_code");
        // var code_result_obj = $("#code_result");
        var code_result_obj = document.getElementById("code_result");
        var exercises_title_obj = $("#exercises_title");
        var exercises_content_obj = $("#exercises_content");
        var has_comment_obj = $("#has_comment");
        var homework_comment_obj = $("#homework_comment");
        var python_modal_obj = $("#python_modal");
        var scratch_modal_obj = $("#scratch_modal");
        var normal_homework_result_obj = $("#normal_homework_result");
        var run_btn_obj = $("#run_btn");
        var need_code_obj = $("#need_code");
        var need_answer_obj = $("#need_answer");
        var lesson_comment_list_obj = $("#lesson_comment_list");
        var lesson_comment_modal_obj = $("#lesson_comment_modal");
        python_modal_obj.hide();
        scratch_modal_obj.hide();
        normal_homework_result_obj.hide();
        lesson_comment_modal_obj.hide();
        run_btn_obj.hide();
        need_code_obj.val(0);
        need_answer_obj.val(0);


        // 关闭当前页
        function close_page() {
            window.close();
        }

        $(function () {
            let comment_status = {{ lesson.comment_status }};
            if (comment_status == 1) {
                get_lesson_comment();
                $("#lesson_comment_body").show();
            } else {
                $("#lesson_comment_body").hide();
            }
        });

        var editor = CodeMirror.fromTextArea(homework_code_obj, {
            mode: "python",
            lineNumbers: false,
            smartIndent: true,
            tabSize: 4,
            theme: 'blackboard',
        });

        // 保存作业
        function save_code() {
            let need_code = need_code_obj.val();
            let need_answer = need_answer_obj.val();
            let code = editor.getValue();
            let homework_content = normal_homework_result_obj.val();
            console.log(code);

            if (need_code == 1 && code.length == 0) {
                layer.msg("代码为空, 不能保存", {icon: 2, time: 1000});
                return false
            }
            if (need_answer == 1 && homework_content.length == 0) {
                layer.msg('作业为空, 不能保存', {icon: 2, time: 1000});
                return false
            }

            let data = {
                "code": code,
                'content': homework_content,
                "uid": uid_obj.val(),
                "lid": lid_obj.val(),
                'eid': eid_obj.val(),
            };
            console.log(data);
            $.post('{% url "homework_code" %}', data, function (res) {
                console.log(res);
                let icon = res.code > 0 ? 2 : 1;
                layer.msg(res.msg, {time: 1000, icon: icon});
            })
        }

        function exec_code() {
            let code = editor.getValue();
            $.post('{% url "compile_code" %}', {'code': code}, function (res) {
                console.log(res);
                let icon = res.code > 0 ? 2 : 1;
                layer.msg(res.msg, {time: 1000, icon: icon});
                code_result_obj.text(res.result);
            })
        }

        function show_answer(eid) {
            console.log(eid);
            has_comment_obj.hide();

            eid_obj.val(eid);
            let data = {
                'user_id': uid_obj.val(),
                'exercises_id': eid,
                'lesson_id': lid_obj.val()
            };
            $.get('{% url "exercises_detail" %}', data, function (res) {
                console.log(res);
                if (res.code == 0) {
                    let datas = res.result;
                    exercises_title_obj.html(datas.title);
                    exercises_content_obj.html(datas.content);

                    if (datas.need_code == 1) {
                        if (datas.code_language == 'python') {
                            editor.setValue(datas.default_code);
                            python_modal_obj.show();
                            run_btn_obj.show();

                            need_code_obj.val(1);
                        }
                    } else {
                        python_modal_obj.hide();
                        scratch_modal_obj.hide();
                        run_btn_obj.hide();

                        need_code_obj.val(0);
                    }

                    if (datas.need_answer == 1) {
                        normal_homework_result_obj.show();
                        normal_homework_result_obj.text(datas.homework_content);
                        need_answer_obj.val(1);
                    } else {
                        normal_homework_result_obj.hide();
                        need_answer_obj.val(0);
                    }

                    if (datas.comment) {
                        has_comment_obj.show();
                        homework_comment_obj.html(datas.comment);
                    }
                    $("#homework_detail").modal('show');
                } else {
                    layer.msg(res.msg, {icon: 1, time: 1000});
                    return false
                }
            })
        }


        function outf(text) {
            code_result_obj.innerHTML = code_result_obj.innerHTML + text;  //文字输出
        }

        function builtinRead(x) {
            if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
                throw "File not found: '" + x + "'";
            return Sk.builtinFiles["files"][x];
        }

        function runit() {
            console.log("runit is going")
            //var prog = document.getElementById("yourcode").value; //读取用户输入的内容
            var prog = editor.getValue(); //读取用户输入的内容
            //var mypre = document.getElementById("output");   //获取输出框
            code_result_obj.innerHTML = '';
            Sk.pre = "output";
            Sk.configure({output: outf, read: builtinRead, __future__: Sk.python3});

            (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';
            var myPromise = Sk.misceval.asyncToPromise(function () {
                return Sk.importMainWithBody("<stdin>", false, prog, true);
            });

            myPromise.then(function (mod) {
                    console.log('success');    //执行成功，显示success
                },
                function (err) {
                    console.log(err.toString());   //执行失败，在控制台显示 err
                });
        }


        // 获取课程评论
        function get_lesson_comment() {
            lesson_comment_list_obj.empty();
            let lid = lid_obj.val();
            console.log(lid);
            $.get('{% url "lesson_comment_list" %}', {'lid': lid}, function (res) {
                console.log(res.result);
                $.each(res.result, function (i, item) {
                    let user = '<span class="glyphicon glyphicon-user" aria-hidden="true"></span>' + item.user_name + ':';
                    let content = '<p class="col-md-offset-1">' + item.content + '</p>';
                    let html = '<li class="list-group-item">' + user + content + '</li>';
                    lesson_comment_list_obj.append(html);
                })
            })
        }

        //评论弹框
        function start_lesson_comment() {
            lesson_comment_modal_obj.modal('show');
        }

        // 评论提交
        function save_lesson_comment() {
            let data = {
                'user_id': uid_obj.val(),
                'content': CKEDITOR.instances['lesson_comment_text'].getData(),
                'lesson_id': lid_obj.val(),
            };
            console.log(data);
            if (data.content.length <1) {
                layer.alert('评论为空');
                return false
            }
            $.post('{% url "lesson_comment_list" %}', data, function (res) {
                console.log(res);
                let icon = res.code > 0 ? 2 : 1;
                layer.msg(res.msg, {time: 1000, icon: icon});
                if (res.code == 0) {
                    lesson_comment_modal_obj.modal('hide');
                    location.reload();
                }
            })
        }

    </script>

{% endblock %}
