{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list simpletags %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}?_=20180905"/>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {
                width: inherit
            }
        </style>
    {% endif %}

{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a
                href="{% url 'admin:app_list' app_label='wxcustomer' %}">教程管理</a>
            &rsaquo; Python教程
        </div>
    {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}
{% block content_title %}
{% endblock %}

{% block content %}
    <style>
        #content {
            position: relative;
        }

        .object-tools {
            position: absolute;
            top: 16px;
            right: 20px;
            height: 50px;
            z-index: 2;
        }

        .object-tools .import_link, .object-tools .export_link {
            color: white !important;
        }

        .el-table td, .el-table th {
            text-align: center !important;
        }

    </style>
    <link rel="stylesheet" href="{% static '/js/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/js/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static '/js/bootstrap-select/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static '/js/bootstrap-switch/bootstrap-switch.min.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css">

    <div id="content-main">
        <div class="module filtered" id="changelist">
            <!-- search_form.html -->
            <div id="toolbar">
                <div id="changelist-search">
                    <div class="simpleui-form">
                        <input type="text" class="" id="filter_name" placeholder="教程名称">

                        <select id="filter_knowledge" class="el-select" style="width: 120px; margin-right: 10px;">
                            <option value="">教程</option>
                            {% for c in knowledges %}
                                {% if c.parent_name %}
                                    <option value="{{ c.id }}">--- {{ c.name }}</option>
                                {% else %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                        <button type="button" class="el-button el-button--primary el-button--small"
                                id="data-search">
                            <i class="el-icon-search"></i><span>搜索</span>
                        </button>
                    </div>
                </div>
            </div>


            <div id="changelist-form">
                <div class="actions">
                    {% if user.is_superuser %}
                        <button type="button" class="el-button el-button--primary el-button--small"
                                onclick="new_knowledge()">
                            <span>新增</span>
                        </button>
                    {% endif %}

                </div>

                <div class="el-row" style="margin-bottom: 20px;">
                    <table class="el-table el-table--border" id="data_list_table">
                        <thead>
                        <tr>
                            <th data-withd="80" date-width-unit="%">标题</th>
                            <th data-withd="20" date-width-unit="%">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/admin/simpleui-x/automatic/dicts.js"></script>
    <script type="text/javascript" src="/static/admin/simpleui-x/automatic/segment.js"></script>
    <script type="text/javascript" src="/static/admin/simpleui-x/js/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>

    <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/layer/2.4/layer.js' %}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://unpkg.com/bootstrap-table@1.21.1/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="{% static '/js/table_common.js' %}"></script>

    <script type="text/javascript">
        {% if user.is_superuser %}
            var is_superuser = true;
        {% else %}
            var is_superuser = false;
        {% endif %}

        function get_today() {
            var nowDate = new Date();
            var month = nowDate.getMonth() + 1;
            var day = nowDate.getDate();
            month = (month.toString().length == 1) ? ("0" + month) : month;
            day = (day.toString().length == 1) ? ("0" + day) : day;
            //当前日期 yyyy-MM-dd
            return nowDate.getFullYear() + '-' + month + '-' + day;
        }


        var table_obj = $("#data_list_table");
        var table_setting = {
            url: '{% url "knowledge_list" %}',
            mehtod: 'GET',
            queryParams(params) {
                return {
                    "draw": params.pageNumber,
                    "length": params.pageSize,
                    "filter_name": $("#filter_name").val(),
                    "filter_knowledge": $("#filter_knowledge").val(),
                }
            },
            columns: [{
                field: 'title',
                name: 'title',
                title: '教程',
                align: 'center',
                sortable: false,
                width: 70,
                widthUnit: "%",
                formatter: function (value, row, index) {
                    let html = "";
                    if (row.parent_id) {
                        html = "<span style='float:left'> --- " + value + "</span>"
                    } else {
                        html = "<span style='float:left'>" + value + "</span>"
                    }
                    return html;
                }
            }, {
                field: 'id',
                name: 'id',
                title: '操作',
                align: 'center',
                width: 30,
                widthUnit: "%",
                formatter: function (value, row, index) {
                    let html = "";
                    let knowledge_url = "../knowledge/" + row.id + "/change/";
                    if (is_superuser == false) {
                        html += '<button  style="margin-left:20px;" class="btn btn-default btn-xs" onclick="open_detail(\'' + knowledge_url + '\')"><span class="glyphicon glyphicon-book" aria-hidden="true" style="margin-right:5px;"></span>去学习</button>';
                    } else {
                        html += '<button  style="margin-left:20px;" class="btn btn-default btn-xs" onclick="open_detail(\'' + knowledge_url + '\')"><span class="glyphicon glyphicon-book" aria-hidden="true" style="margin-right:5px;"></span>编辑</button>';
                        html += '<button  style="margin-left:10px;" class="btn btn-default btn-xs" onclick="knowledge_delete(' + row.id + ', 1)"><span class="glyphicon glyphicon-trash" aria-hidden="true" style="margin-right:5px;"></span>删除</button>';
                    }
                    return html;
                }
            }],

        };
        table_setting = $.extend(tableSettings, table_setting);
        table_obj.bootstrapTable('destroy');
        table_obj.bootstrapTable(table_setting);

        // 查询搜索结果并充值表格
        $('#data-search').click(function () {
            table_obj.bootstrapTable('destroy');
            table_obj.bootstrapTable(table_setting);

        });


        $(function () {
            let today = get_today();
        });

        function new_knowledge() {
            window.location = '/admin/knowledges/knowledge/add/';
        }

        function open_detail(url) {
            window.open(url);
        }

        function knowledge_delete(lesson_id) {
            layer.confirm("确定要删除吗?", function (i) {
                let data = {"id": lesson_id};
                axios.post('{% url "knowledge_delete" %}', data).then(res => {
                    console.log(res.data);
                    let icon_type = res.data.code === 0 ? 1 : 2;
                    layer.msg(res.data.msg, {time: 1000, icon: icon_type});
                    if (res.data.code == 0) {
                        layer.close(i);
                        setTimeout(() => window.location.reload(), 1000)
                    }
                })
            })
        }

    </script>
{% endblock %}
